/* -------------------------------------------
Board header
---------------------------------------------- */

.board-wrapper {
  max-width: 1440px;
  margin-left: 40px;
  margin-right: 40px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
}

.board-header h1 {
  font-size: 3rem;
}

.search-field-wrapper {
  position: relative;
  display: inline-flex;
  margin-right: 16px;
}

.search-field {
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  outline: none;
  padding: 10px 14px;
}

.search-devider {
  position: absolute;
  right: 58px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  border-left: 1px solid #d1d1d1;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-field:focus {
  border: 1px solid #29abe2;
  outline: none;
}

.search-field::placeholder {
  color: #d1d1d1;
}

.search-field::-webkit-input-placeholder {
  color: #d1d1d1;
}

.search-field:-ms-input-placeholder {
  color: #d1d1d1;
}

.search-field::-ms-input-placeholder {
  color: #d1d1d1;
}

.add-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 16px;
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
}

/* -------------------------------------------
Board
---------------------------------------------- */

.board {
  display: flex;
  gap: 16px;
}

.column {
  flex: 1;
  min-width: 0;
  margin-top: 16px;
  border-radius: 8px;
}

.column-header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  color: #42526e;
  margin: 16px 0;
}

.column-header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.task-wrapper {
  height: 100%;
}

.task {
  background: white;
  border-radius: 24px;
  padding: 16px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tag {
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  padding: 6px 16px;
  margin-bottom: 20px;
}

.user-story {
  background-color: #0057ff;
  color: white;
}

.technical-task {
  background-color: #00cfa5;
  color: white;
}

.task-descr {
  color: #a8a8a8;
  margin: 10px 0 20px 0;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.progress-bar {
  flex: 1;
  background: #f4f4f4;
  border-radius: 4px;
  height: 6px;
}

.progress {
  background: #3b82f6;
  height: 6px;
  border-radius: 4px;
}

.subtask {
  font-size: 0.75rem;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 12px;
  color: #fff;
  margin-right: -6px;
}

.empty {
  text-align: center;
  color: #a8a8a8;
  border: 2px dotted #a8a8a8;
  border-radius: 10px;
  background-color: #e7e7e7;
  padding: 10px;
}

.no-results {
  width: 100%;
  margin-top: 60px;
  text-align: center;
  font-size: 1.5rem;
  color: #42526e;
  font-weight: 700;
}

/* -------------------------------------------
Overlay
---------------------------------------------- */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  /* fade-in / fade-out effect  */
  opacity: 0;
  transition: opacity 250ms ease;
}

.visible {
  opacity: 1;
}

/* .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 11;
  opacity: 0;
  transition: opacity 250ms ease;
} */

.overlay.transparent {
  background: transparent !important;
}

.user-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  transition: opacity 250ms ease;
}

.overlay-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  /* translate(-50%, -50%) is for centering the overlay-wrapper in the correct position */
  transform: translate(-50%, -50%);
  transition: all 250ms ease-in-out;
}

.overlay-content {
  min-width: 420px;
  height: auto;
  background-color: #fff;
  padding: 48px 40px;
}

.transit {
  transform: translate(calc(-50% + 100vw), -50%);
}

.hidden {
  display: none;
}

/* 
Die allgemeine Regel ".overlay button" setzt alle Buttons innerhalb des Overlays auf einen neutralen, transparenten Stil zurück. 
Das führt jedoch dazu, dass speziell gestylte Buttons (z. B. mit Hintergrundfarbe) ihr gewünschtes Aussehen verlieren.

Daher wurde eine separate Klasse "btn-transparent" erstellt, 
um gezielt nur Buttons transparent zu stylen, ohne andere globale Button-Styles zu beeinflussen.
*/

/* .overlay button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
} */

.btn-transparent {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-overlay {
  border-radius: 8px;
  padding: 6px 24px;
}

.flex {
  display: flex;
  gap: 24px;
}

.overlay-prio {
  display: flex;
  align-items: center;
  gap: 8px;
}

.capitalize {
  text-transform: capitalize;
}

.assigned-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.assigned-list li {
  margin-left: 16px;
}

.assigned-person {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.assigned-person .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.subtasks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subtask-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.subtask-item label {
  margin-left: 8px;
  cursor: pointer;
}

.overlay-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.overlay-footer button {
  display: flex;
  align-items: center;
  color: #2a3647;
}

.overlay-devider {
  height: 24px;
  border-left: 1px solid #d1d1d1;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-20 {
  margin-bottom: 20px;
}

.section-title {
  color: #2a3647;
}

/* -------------------------------------------
Overlay - Detailed Task view 
---------------------------------------------- */

.btn-subtask {
  background-image: url(../assets/icons/check_icon_empty.svg);
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-subtask.checked {
  background-image: url(../assets/icons/check_icon.svg);
}

/* -------------------------------------------
Add-Task
---------------------------------------------- */

.board-tasks-container {
  display: flex;
  gap: 24px;
}

.add-task-board {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  transition: background-color 0.25s ease;
}

.transparent-background {
  background-color: rgb(0, 0, 0, 0.7);
}

.task-overlay {
  background-color: white;
  position: absolute;
  padding: 48px;
  border-radius: 24px;
}

.transition-add-task {
  right: 0% !important;
}

.task-overlay h1 {
  font-size: 3rem;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.close-task {
  height: 32px;
  width: 32px;
  background-image: url(../assets/icons/cancel.svg);
  background-size: 80%;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-task:hover {
  background-color: #d1d1d1;
}

.center_element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms ease-in-out;
}

.transit {
  transform: translate(calc(-50% + 100vw), -50%);
}

/* -------------------------------------------
Edit-Task
---------------------------------------------- */

.editTask-container {
  overflow-y: auto;
  width: 396px;
  max-height: 664px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.close-edit-conatiner {
  display: flex;
  flex-direction: row-reverse;
}

/* -------------------------------------------
Media queries
---------------------------------------------- */

@media (max-width: 1200px) {
  .board-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  .board-wrapper {
    margin-left: 64px;
    margin-right: 64px;
  }

  .board {
    display: block;
  }

  .add-task-text {
    display: none;
  }

  .add-btn {
    padding: 12px;
  }

  .add-icon {
    margin-left: 0;
  }

  .task-wrapper {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }

  .task {
    min-width: 250px;
  }

  .empty {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .board-header {
    display: block;
  }

  .board-wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .add-btn-mobile {
    display: block;
  }

  .add-btn-desktop {
    display: none;
  }

  .search-field-wrapper-desktop {
    display: none;
  }

  .search-field-wrapper-mobile {
    display: block;
    margin: 25px 0;
  }

  .search-field {
    width: 100%;
  }

  /* .task-wrapper {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }

  .task {
    min-width: 250px;
  }

  .empty {
    width: 100%;
  } */
}
