.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 40px 0 40px;
}

.navbar h2 {
  font-weight: 200;
  font-size: 22px;
  margin-left: 80px;
}

.join-logo-nav {
  display: none;
  height: 40px;
  width: 40px;
}

.nav-imgs {
  display: flex;
}

.profile-picture {
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #29abe2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #000;
  padding: 12px;
  margin-left: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 125ms ease;
}

.profile-picture:hover {
  background-color: #d1d1d1;
}

.menu-container {
  overflow-x: hidden;
  position: absolute;
  width: 180px;
  top: 96px;
  right: 0px;
  display: flex;
  flex-direction: row-reverse;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 158px;
  width: 150px;
  background-color: #2A3647;
  border-radius: 20px 0 20px 20px;
  transform: translateX(150px);
  transition: transform 125ms ease-in;
  z-index: 10;
  overflow: hidden;
}

.menu-translateX {
  transform: translateX(-30px);
}

.menu-item {
  color: white;
  flex-grow: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 24px;
}

.menu-item:hover {
  background-color: rgba(101, 99, 99, 0.132);
}

@media (max-width: 992px) {
  .navbar h2 {
    margin-left: 32px;
  }
}

@media (max-width: 680px) {
  #navbar {
    position: fixed;
    top: 0px;
    width: 100vw;
  }
}

@media (max-width: 590px) {
  .navbar h2 {
    display: none;
  }

  .join-logo-nav {
    display: block;
  }

  .nav-imgs img {
    display: none;
  }
}