
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 40px 0 40px;
  }

  .nav-imgs {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .navbar h2 {
    font-weight: 200;
    font-size: 22px;
    margin-left: 80px;
  }
  
  .join-logo-nav {
    display: none;
    height: 40px;
    width: 40px;
  }
  
  
  .help-symbol {
    cursor: pointer;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #29abe2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 12px;
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 125ms ease;
  }
  
  .profile-picture:hover {
    background-color: #d1d1d1;
  }
  
  .menu-container {
    overflow-x: hidden;
    position: absolute;
    width: 180px;
    top: 96px;
    right: 0px;
    display: none;
    flex-direction: row-reverse;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    height: 158px;
    width: 150px;
    background-color: #2A3647;
    border-radius: 20px 0 20px 20px;
    transform: translateX(150px);
    transition: transform 125ms ease-in;
    z-index: 10;
    overflow: hidden;
  }
  
  .menu-translateX {
    transform: translateX(-30px);
  }
  
  .menu-item {
    color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 24px;
  }
  
  .menu-item:hover {
    background-color: rgba(101, 99, 99, 0.132);
  }

.logo {
    display: none;
}

.help-page {
    display: none;
  }

  .back-button {
    display: none;
  }

@media(max-width: 992px) {
    .main-flexbox {
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar h2 {
        margin-left: 32px;
    }
}

  @media (max-width: 680px) {
    #navbar {
        position: fixed;
        top: 0px;
         width: 100vw;
    }
    .navbar {
        justify-content: end !important;
    }
  }
@media(max-width: 500px) {
    .privacy-section {
        padding: 64px 64px 64px 60px;
    }
    .back-button {
        display: flex;
    }
}

@media(max-width: 460px) {
    .header-task {
        font-size: 29px;
    }
    .navbar h2 {
        font-size: 20px;
        margin-left: 0;
    }
}
@media(max-width: 410px) {
    .header-task {
        font-size: 26px;
    }
    .navbar h2 {
        font-size: 18px;

    }
}
@media (max-width: 680px) {
    main {
      margin-top: 96px;
      flex-grow: 0;
      overflow-y: scroll;
    }
  }
  @media(max-width: 360px) {
    .menu-container {
        display: none !important;
    }
    .navbar h2 {
        display: none;
    }
    .join-logo-nav {
        display: block;
    }
    .help-page {
        display: none;
    }
    .join-logo-nav {
        display: none;
    }
    .help-symbol {
        display: none !important;
    }
    .navbar {
        padding: 0 40px 0 16px !important;
        justify-content: space-between !important;
    }
    .profile-picture {
        display: none !important;
    }
    .help-symbol {
        display: none !important;
    }
    .privacy-section {
        padding: 35px 32px 20px 37px;
    }
    .header-task {
        margin-bottom: 25px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        display: flex;
        width: 50px;
        height: 50px;
    }
    .privacy-section h2 {
        font-size: 20px;
    }
  }