.join-logo {
  margin-block-start: 60px;
  max-width: 100px;
  height: auto;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cdcdcd;
  background-color: #2a3647;
  min-width: 240px !important;
  height: 100%;
}

.sidebar-wrapper>nav {
  margin: 120px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  height: 100%;
}

.nav-wrapper {
  margin: 120px 0 60px 0;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 10px 58px;
}

.nav-link:hover {
  background-color: rgba(101, 99, 99, 0.132);
}

.nav-link.selected {
  background-color: #091931;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  width: 35px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bottom-links li {
  padding: 10px 58px;
}

@media (max-width: 992px) {
  body {
    flex-direction: column-reverse;
  }

  .sidebar-wrapper {
    min-width: none !important;
    height: auto;
    z-index: 2;
  }

  .join-logo {
    display: none;
  }

  .nav-wrapper {
    height: auto !important;
    margin: 0 !important;
  }

  .nav-wrapper ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: auto;
    z-index: 2;
  }

  .nav-link {
    height: 104px;
    width: 104px;
    border-radius: 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom-links {
    display: none !important;
  }
}

@media (max-width: 680px) {
  main {
    margin-top: 96px;
    flex-grow: 0;
    overflow-y: scroll;
  }
}

@media (max-width: 480px) {
  .nav-wrapper ul {
    gap: 0;
    justify-content: space-evenly;
  }

  .nav-link {
    height: 80px;
    width: 80px;
    border-radius: 16px;
    font-size: 14px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}